{
    "metrics": [
        [ "AWS/AmazonMQ", "EnqueueCount", "Broker", "$broker", "Queue", "$queue" ],
        [ ".", "DequeueCount", ".", ".", ".", "." ]
    ],
    "view": "timeSeries",
    "stacked": false,
    "stat": "Maximum",
    "period": 60,
    "width": 1679,
    "height": 250,
    "start": "-PT1H",
    "end": "P0D"
}